name: Build clang with CDM target

on:
  workflow_dispatch:
  push:
    tags:
      - 'cdm-ver-*'

jobs:
  build_posix:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: initialize cmake folder
        run: cmake -S llvm -B llvm/build -G Ninja -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON -DLLVM_ENABLE_PROJECTS=clang -DLLVM_TARGETS_TO_BUILD= -DLLVM_PARALLEL_LINK_JOBS=2 -DLLVM_EXPERIMENTAL_TARGETS_TO_BUILD=CDM -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_DEFAULT_TARGET_TRIPLE=cdm
      - name: build clang
        run: |
              cd ./llvm/build
              ninja clang
      - name: list folder recursivly
        run: |
              cd ./llvm/build/bin
              find .
      - name: install docker
        if: ${{ !contains(matrix.os, 'macos') }}
        uses: docker/setup-docker-action@v4
      - name: install python
        if: ${{ !contains(matrix.os, 'macos') }}
        uses: actions/setup-python@v5
      - name: run tests (posix)
        if: ${{ !contains(matrix.os, 'macos') }}
        run: |
              pip install pytest pytest-xdist six
              cd ./llvm/test_cdm
              make
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: clang-cdm-${{ matrix.os }}
          path: ./llvm/build/bin/clang-19

  build_for_windows:
    runs-on: windows-latest
    steps:          
      - name: checkout repo
        uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1
      - name: install ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: initialize cmake folder
        run: cmake -S llvm -B llvm/build -G Ninja -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON -DLLVM_ENABLE_PROJECTS=clang -DLLVM_TARGETS_TO_BUILD=X86 -DLLVM_PARALLEL_LINK_JOBS=2 -DCMAKE_C_COMPILER=cl -DCMAKE_CXX_COMPILER=cl -DLLVM_EXPERIMENTAL_TARGETS_TO_BUILD=CDM -DLLVM_DEFAULT_TARGET_TRIPLE=cdm
      - name: build clang
        run: |
              cd ./llvm/build
              ninja clang
      - name: list folders
        run: ls
      - name: list folder recursivly
        run: |
              cd ./llvm/build/bin
              Get-ChildItem -Recurse
      - name: install docker
        uses: docker/setup-docker-action@v4
      - name: install python
        uses: actions/setup-python@v5
      - name: run tests (windows)
        run: |
              pip install pytest pytest-xdist six
              cd ./llvm/test_cdm
              make
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: clang-cdm-windows
          path: ./llvm/build/bin/clang.exe

  create-release:
    needs: [build_posix, build_for_windows]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/cdm-ver-') }}  
    steps:
      - name: Create subfolder
        run: mkdir artifacts_download
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts_download
      - name: Print files list
        run: find .
      - name: ls folder
        run: ls -la ./artifacts_download
      - name: zip artifacts_data
        run: cd ./artifacts_download && for dir in */; do [ -d "$dir" ] && zip -r "${dir%/}.zip" "${dir%/}" && rm -r "${dir%/}"; done
      - name: Print files list
        run: find .
      - name: ls folder
        run: ls -la ./artifacts_download
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          body: clang cdm-16 backend version ${{github.ref_name}}, macos-13 is x86 (will be deleted in the future)
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            ${{github.workspace}}/artifacts_download/*.zip
