name: '[CDM] Build clang with CDM target'

on:
  workflow_dispatch:
  push:
    tags:
      - 'ver-*'
  pull_request:
    branches:
      - main

jobs:
  build_posix:
    strategy:
      matrix:
        os: [ubuntu-24.04,  macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: initialize cmake folder
        run: cmake -S llvm -B llvm/build -G Ninja -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON -DLLVM_ENABLE_PROJECTS=clang -DLLVM_TARGETS_TO_BUILD= -DLLVM_PARALLEL_LINK_JOBS=2 -DLLVM_EXPERIMENTAL_TARGETS_TO_BUILD=CDM -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_DEFAULT_TARGET_TRIPLE=cdm
      - name: build clang
        run: cmake --build ./llvm/build
      - name: list folder recursivly
        run: |
              cd ./llvm/build
              find .
      - name: get testing system
        run: git clone --depth 1 https://github.com/ylab-nsu/cdm16-clang-tester.git test_cdm
      - name: run tests
        run: |
             cd ./test_cdm
             make CLANG=../llvm/build/bin/clang
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: clang-cdm-${{ matrix.os }}
          path: |
            ./llvm/build/bin
            ./llvm/build/include
            ./llvm/build/lib
            ./llvm/build/libexec
            ./llvm/build/share

  create-release:
    needs: [build_posix]
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/ver-') }}  
    steps:
      - name: Create subfolder
        run: mkdir artifacts_download
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts_download
      - name: Print files list
        run: find .
      - name: ls folder
        run: ls -la ./artifacts_download
      - name: zip artifacts_data
        run: cd ./artifacts_download && for dir in */; do [ -d "$dir" ] && zip -r "${dir%/}.zip" "${dir%/}" && rm -r "${dir%/}"; done
      - name: Print files list
        run: find .
      - name: ls folder
        run: ls -la ./artifacts_download
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          body: clang CdM-16 version ${{github.ref_name}}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            ${{github.workspace}}/artifacts_download/*.zip
