name: Create release on tag

on:
    workflow_dispatch:
    push:

jobs:
  example_matrix:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: install ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: initialize cmake folder
        run: cmake -S llvm -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON -DLLVM_ENABLE_PROJECTS=clang -DLLVM_TARGETS_TO_BUILD= -DLLVM_PARALLEL_LINK_JOBS=2 -DLLVM_EXPERIMENTAL_TARGETS_TO_BUILD=CDM -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_DEFAULT_TARGET_TRIPLE=cdm
      - name: build clang
        run: |
              cd build
              ninja clang
      - name: list folder recursivly
        run: |
              cd ./build/bin
              find .
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: clang-cdm-${{ matrix.os }}
          path: ./build/bin/clang-19          
  build_for_windows:
    runs-on: windows-latest
    steps:          
      - name: checkout repo
        uses: actions/checkout@v4
      - name: install ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: initialize cmake folder
        run: cmake -S llvm -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON -DLLVM_ENABLE_PROJECTS=clang -DLLVM_TARGETS_TO_BUILD= -DLLVM_PARALLEL_LINK_JOBS=2 -DLLVM_EXPERIMENTAL_TARGETS_TO_BUILD=CDM -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_DEFAULT_TARGET_TRIPLE=cdm
      - name: build clang
        run: |
              cd build
              ninja clang
      - name: list folder recursivly
        run: |
              cd ./build/bin
              Get-ChildItem -Recurse
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: clang-cdm-windows
          path: ./build/bin/clang.exe 
