name: test

on:
    workflow_dispatch:
    push:
        # tags:
        #     - '*'
        # branches:
        #     - backend/cdm

jobs:
    darwin-crosscompile:
        runs-on: ubuntu-latest
        container: anarcom/smth-ttt-www:latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                fetch-depth: 1
            # - name: Generate cmake files
            #   run: | 
            #     PATH=/toolchain/osxcross/target/bin:$PATH aarch64-apple-darwin23-cmake -S llvm -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=ON -DLLVM_ENABLE_PROJECTS=clang -DLLVM_TARGETS_TO_BUILD= -DLLVM_PARALLEL_LINK_JOBS=6 -DLLVM_EXPERIMENTAL_TARGETS_TO_BUILD=CDM -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DLLVM_DEFAULT_TARGET_TRIPLE=cdm 
                
            - name: Generate cmake files
              run: | 
                echo '123' > t
 
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: t
                path: t                            